#sequencer-wrapper{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
    width: 100%;
    /* background-color:black; */
}

.sequencer-row{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 5px;
    width: 100%;
    padding-top: 10px;
    /* background-color:blue; */
}

.step{
    width: 30px;
    height: 30px;
    /* background-color: #6a3c3c; */
    border: 1px solid #000;
    cursor: pointer;
}

.step:hover{
    background-color: #4d4848;
}